main{
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;
    border-radius: 15px;
}
section{
   margin-top: 50px;
   margin-bottom: 10px;
}
img{
    margin-left: 150px;
}
main{
    margin: center;
    
}
h3{
    margin-left: 150px;
}
li{
    margin-left: 100px;
}