*{ 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00f ,#00f500  );
}

main{

    margin:  auto;
    width: 50%;
    height: 100%;
    
    background-color: rgb(245, 243, 243);
    
}

